h2 {
    font-style: normal;
    font-size: 48px;
    padding-top: 50px;
    padding-bottom: 50px;
}
p {
    font-style: italic;
    font-size: 3cap;
    margin-bottom: 20px;
    text-align: center;
    font-style: italic;
    padding-top: 10px;
}
.content {
   background-color: #ffd6e8;
}
video{
    margin-left: 13%;
}